div 
{
    background-image: url("image/image1.jpg") ;
    width: 70%;
    height: 70%;
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(239, 243, 239);
    text-shadow: 2px 3px black;
}